.link {
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
}

.link:hover {
    color: #8DD9BF;
}

.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: #8DD9BF;
    transition: width 0.3s ease;
}

.link:hover::after {
    width: 100%;
}